<main>
    <div class="row" *ngFor="let user of userArr">
        <div class="col-12"></div>
        <div class="col-5"><div class="box"><h5>First name : <span>{{user.first_name}}</span></h5></div></div>
        <div class="col-5"><div class="box"><h5>Last name : <span>{{user.last_name}}</span></h5></div></div>
        <div class="col-5"><div class="box"><h5>Age : <span>{{user.age}}</span></h5></div></div>
        <div class="col-5"><div class="box"><h5>Email : <span>{{user.email}}</span></h5></div></div>
        <div class="col-5"><div class="box"><h5>Phone : <span>{{user.phone}}</span></h5></div></div>
        <div class="col-5"><div class="box"><h5>Password : <span>{{user.password}}</span></h5></div></div>
        <div class="col-5"><div class="box"><h5>Gender : <span>{{user.gender}}</span></h5></div></div>
        <div class="col-5"><div class="box"><h5>Skills : <span>{{user.skill}}</span></h5></div></div>
        <div class="col-5"><div class="box"><h5>Hobbies : <span>{{user.hobbies}}</span></h5></div></div>
        <div class="col-5"><div class="box"><h5>Country : <span>{{user.country}}</span></h5></div></div>
        <div class="col-5"><div class="box"><h5>State : <span>{{user.state}}</span></h5></div></div>
        <div class="col-5"><div class="box"><h5>City : <span>{{user.city}}</span></h5></div></div>
        <div class="col-12"><div class="box"><h5>Info : <span>{{user.description}}</span></h5></div></div>
    </div>
</main>