main{
    padding: 30px;
}
.db{
    display: block;
}
.dn{
    display: none;
}
.red{
    color: red;
}
button {
    background-color: transparent;
    border: none;
}

input {
    border: none;
    background-color: transparent;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

body {
    position: relative;
    background-color: #fff;
}

input[type=radio] {
    /* Hide original inputs */
    visibility: hidden;
    position: absolute;
}

input[type=radio]+label:before {
    height: 18px;
    font-size: 22px;
    width: 18px;
    line-height: 18px;
    margin-right: 2px;
    content: " ";
    display: inline-block;
    vertical-align: baseline;
    border: 1px solid #777;
}

input[type=radio]:checked+label:before {
    background: #000;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
input[type=radio]+label:before {
    border-radius: 50%;
    margin-right: 10px;
}

.input_label_main {
    display: block;
}

.radio_label {
    padding: 0 10px;
}

.register_body .row .input_main {
    margin-top: 25px;
    padding: 0 20px;
}

.register_body .row .input_main:nth-child(1) {
    margin-top: 0 !important;
}

.register_body .row .input_main:nth-child(2) {
    margin-top: 0 !important;
}

.register_body .row .input_main:nth-child(3) {
    margin-top: 0 !important;
}

.tele_input {
    text-align: center;
}

.register_input {
    padding: 15px 20px;
    color: var(--primary-yllow);
    border-radius: 10px;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: none !important;
    border: 1px solid rgb(54, 69, 79);
    box-shadow: 10px 10px 20px rgba(54,69,79, 0.09), -10px -10px 20px rgba(54, 69, 79, 0.09);
}

.auth_select {
    width: 500px !important;
}

.pass_main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pass_input {
    color: #000;
}

.pass_input::placeholder {
    color: #0000007e;
}

.pass_hide {
    width: 20px;
    cursor: pointer;
}

.pass_hide_main {
    display: flex;
    justify-content: flex-end;
}

.register_text {
    padding: 10px 20px;
    color: #000;
    border-radius: 10px;
    width: 100%;
    height: 80px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06), -10px -10px 30px rgba(0, 0, 0, 0.06);
    background-color: transparent;
    border: none !important;
}

.register_input::placeholder {
    color: #0000007e;
}

.del {
    color: red;
}

.input_label {
    color: #000;
    margin-bottom: 10px;
    font-size: 15px;
}

.main_table {
    margin-top: 30px;
}

.clear_all_skill {
    color: #fff;
    padding: 7px 15px;
    background: #ff0000fa;
    border-radius: 7px;
    margin-top: 10px;
}

.all_skill_main {
    padding: 10px;
    display: flex;
    border-radius: 10px;
    border: none;
    max-width: 100%;
    min-height: 100px;
    background-color: transparent;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06), -10px -10px 30px rgba(0, 0, 0, 0.06);
    flex-wrap: wrap;
}

.delete_skill_box {
    display: flex;
    align-items: center;
}

.delete_skill {
    font-size: 12px;
    color: red;
    margin-left: 7px;
}

.skill_box {
    margin: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.08), -10px -10px 30px rgba(0, 0, 0, 0.08);
    width: max-content;
    height: max-content;
}

.skill_box span {
    color: #000;
}
.form_btn_main{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    padding-right: 30px;
}
.complete_register_btn {
    background: #0099fffa;
    padding: 15px 40px;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
}

.complete_register_btn:hover {
    background: linear-gradient(#0083da, #0099FF);
}
.form-switch .form-check-input{
    border: 1px solid #00000034 !important;
}
.uploaded-image{
    max-height: 80px;
    max-width: 80px;
    border-radius: 50%;
    margin-left: 10px;
    border: 2px solid #000;
    margin-right: 10px;
}

/* ------------ File Input CSS  */
.custom-file-input {
    color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: "+ Upload Image Here";
    color: #fff;
    display: inline-block;
    background: #2b3c48;
    padding: 10px 22px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 400;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.custom-file-input:focus {
    outline: none !important;
}
.custom-file-input:active::before {
    transform: scale(.9) translate(0px, 2px);
    box-shadow:  inset 4px 4px 5px 0px rgba(0, 0, 0, 0.20);
}